:root {
   
    font-size: 62.5%; /* 1rem = 10px */
   
    /* Primary Colors (Backgrounds) */

    --bg-header-mobile: #0a0a0a;
    --light-blue: #656dfc;
    --white: #FFF;

    /* Secondary Colors (Titles and Paragraphs) */

    --gray-headline: #061800;
    --gray-paragraph: #384633;
    

    /* Tipografias */

    --font: 'DM Sans', sans-serif;
    --manrope: "Manrope", sans-serif;

    /* Calc Variables */

    --header-height: 8rem;
}

.container {
    padding: 0 3rem;
}