/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--manrope);
}

body.menu-aberto {
    overflow: hidden;
}


header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-header-mobile);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header .home-logo {
    max-width: 30%;
}

header .logo-header {
    max-width: 100%;
}

header nav {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;

    transform: translateX(100%);
    transition: transform 0.3s ease;


}

header nav.mobile-aberto {
    transform: translateX(0);
}

header nav ul {
    /* border: 1px solid red; */
    background-color: var(--bg-header-mobile);

    list-style-type: none;
    width: 100%;
    height: Calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.contact-button {
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: white;
    color: var(--bg-header-mobile);
    font-weight: 700;
    margin-top: 5rem;
}


header button {
    background-color: transparent;
    border: none;
    max-width: 13%;
}

header button .open-button {
    width: 100%;
}

header button .close-button {
    width: 45%;
}

/* Main Section */


main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 45vh;
    gap: 1.6rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url('../assets/hero-nexora.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}

main h3 {
    color: var(--light-blue);
    font-weight: 700;

}

main h1 {
    color: white;
    font-size: 2.6rem;
    line-height: 3rem;
}

main p {

    color: white;
    font-size: 1.4rem;
}

main button {
    margin-top: 1.3rem;
    padding: 1rem 1rem;
    width: 52%;
    background-color: var(--light-blue);
    color: white;
    border: none;
    border-radius: 5rem;
    font-weight: 700;
}

main button span {
    margin-left: 1rem;
}

/* About Section */

.about {
    padding-block: 4rem;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-description h3 {
    color: var(--light-blue);
    font-weight: 700;
}

.about-description h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
}

.about-description p {
    font-size: 1.4rem;
}

.about-topics {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.topic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}

.topic-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    text-align: center;
}

.topic-card img {
    width: 25%;
}


/* Reviews Section */

.reviews {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 4rem;

}

.reviews h3 {
    color: var(--light-blue);
    font-weight: 700;
}

.reviews h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
}

.review-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.review-cards article {
    width: 80%;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}

.img-container {
    width: 40%;
    /* border: 1px solid red; */
}

.img-container img {
    width: 100%;
}

.review-content {
    display: flex;
    flex-direction: column;
}

.review-content p:first-child {
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
}

.review-content h4 {
    margin-top: 1rem;
}

.occupation {
    color: var(--light-blue);
    font-weight: 700;
}

.review-content img {
    margin-top: 1rem;
    width: 30%;
}


/* Contact Section */

.contact {
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-content h3 {
    color: var(--light-blue);
    font-weight: 700;
}

.contact-content h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
}

.contact-content p {
    font-size: 1.4rem;
}

.contact-content ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.contact-content ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}

.contact-content ul li img {
    width: 3rem;
}

.contact-content div p {
    font-size: 1.2rem;
}

.contact form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    /* padding: 2rem; */
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06); */
}

.contact form input {
    padding: .8rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    border: 1px solid rgb(150, 149, 149);
    font-family: var(--manrope);
}

.contact form textarea {
    padding: .8rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    border: 1px solid rgb(150, 149, 149);
    font-family: var(--manrope);
}

.contact form button {
    background-color: var(--light-blue);
    font-family: var(--manrope);
    color: white;
    border: none;
    padding-block: 1rem;
}

.contact form button span {
    margin-left: 1rem;
}



/* Footer */


footer {
    background-color: var(--bg-header-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-block: 4rem;
    gap: 2rem;
}

.footer-logo {
    width: 40%;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

footer div ul {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    /* border: 1px solid green; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}


footer div ul li a img {
    width: 100%;
}