@use 'variaveis';
@use 'sass:math';
@use 'mixins';

.contact {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 6rem;
    }

    &__content {
        @include mixins.flex-column-gap;
    }

    &__list {
        list-style-type: none;
        display: none;
        flex-direction: column;
        gap: 1rem;

        @media (min-width: 1024px) {
            display: flex;
            margin-top: 2rem;
        }
    }

    &__form {
        @media (min-width: 1024px) {
            margin-top: 0;
            padding: 4rem;
            background-color: var(--white);
            box-shadow: variaveis.$box-shadow;
            border-radius: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.03);
        }
    }

}